@charset "utf-8";
/*font-family: 'Raleway', sans-serif;*/
*{
	box-sizing: border-box;
}
body, html{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Raleway', sans-serif;
}
.container-fluid {

    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;

}
body{

	width: 100%;
	margin: auto;

}
a, a:hover {
	text-decoration: none;
}
.container-fluid{
	padding: 0px;
}
/*header*/
.header{
	background: linear-gradient(120deg,#7f70f5,#0ea0ff);
	height: 70px;
	line-height: 70px;
	z-index: 1;
	top: 0;
	position: sticky;
	box-shadow: 0px 5px 5px silver;
	padding-left: 40px;
	padding-right: 40px;
}
.logo{
	font-size: 20px;
	 letter-spacing: 1px;
	 color: white;
	 font-weight: bold;
	 text-transform: uppercase;
	 float: left;
}
.menu{
	float: right;
}
.menu a{
	margin-right: 20px;
	color: white
}
.menu a:hover{
	color: #2835FF
}
.image_outer_container{
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50%;
	position: relative;
}

.image_inner_container{
	border-radius: 50%;
	padding: 5px;
	background: #833ab4;
	background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
	background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);
}
.image_inner_container img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid white;
}

.image_outer_container .green_icon{
	background-color: #4cd137;
	position: absolute;
	right: 30px;
	bottom: 10px;
	height: 30px;
	width: 30px;
	border:5px solid white;
	border-radius: 50%;
}

/*banner*/
.banner{
	/* width: 100%; */
	max-width: 100%;
}
.ban{
	width: 100%;
	max-width: 100%;
	position: relative;
}
.ban img{
	width: 100%;
	height: 660px;
	max-width: 100%;
}
 .inner-banner{
	position: absolute;
	width: 100%;
	top: 60%;
	text-align: center;
}
.inner-banner img{
	text-shadow: 1px 2px 10px black;
	max-width: 100%;
	height: 170px;
}

/* .inner-banner h1{
	color: white;
	text-shadow: 1px 2px 20px black;
	font-weight: bold;
} */
.separator{
	height: 2px;
	width: 0%;
	box-shadow: none;
	border: none;
	background-color:white;
}
/*abou*/
.about{
	color: black;

}
.about h1{
	font-size: 60px;
	text-align: center;
}
.about img{
	align-content: center;
	border-radius: 50%;
	box-shadow: 0px 5px 5px silver;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.about article h2{
	text-align: center;
}
/*portfolio*/
#portfolio h1{
	text-align: center;
}

.tete{
	background-color: #fff;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	padding: 40px;
	margin-left: 140px;
	margin-right: 140px;
}
.pimg{
	align-content: center;
}
.gauche, .droit{
	padding-top: 40px;
}
.ec{
	background-color: #fff;
	box-shadow: 2px 2px 2px 2px silver;
	padding: 40px;
	margin-left: 140px;
	margin-right: 140px;
}
.ef{
	padding: 40px;
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
	 margin-left: 140px;
	 margin-right: 140px;
 }
.map{
	box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}
.bas1{
	border-bottom: 2px solid silver;
}

h3{
	padding-bottom: 40px;
}
/*footer mise en page*/
.footer{
	background: linear-gradient(120deg,#7f70f5,#0ea0ff);
}
.footer .container{
	text-align: center;
	padding-top: 20px;
	background-size: cover;
	color: #fff;
}

.formulaire input, textarea{
	/*background-color: transparent;*/
	width: 100%;
	border: 1px solid #555;
	padding: 5px 10px;

	text-transform: capitalize;
	margin-top: 15px;
	color: black;
}
.footer a{
	padding-right: 10px;
}
.footer p img{
	max-width: 100%;
	width: 30px;

}
.footer .cry{
	background-color: white;
	text-align: center;
}
.int{
	padding: 20px;
	text-align: center;
}



/* media querie */
  @media  screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
	  width: 100%;
	}
  }

  @media screen and (max-width: 740px) {
	 .header nav{
		display: none;
	}
	.row{
		width: 100%;
		margin: auto;
		padding: 0%;
		align-content: center;
	}
	.ban img{
		max-width: 100%;
		height: 100px;
	}
	.inner-banner img{
		display: none;
	}
	
  }
  @media screen and (max-width: 1000px){
	.moi{
		height: 50px;
	}

	/* .centrint img{
		height: 50px;
	} */
	.tete{
		text-align: center;

	}
	.tete img{
		align-content: center;
	}
	.tiret{
		display: none;
	}

  }
  @media screen and (max-width:1200px){
	  .tete{
		  text-align: center;
	  }
	  .ec, .tete{
		box-shadow: 0px 0px 0px 0px white;
	}
	.inner-banner img{
		display: none;
	}
  }




  element.style {
	padding: 97px;
  }
  
  :root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
  }


.row.heading h2 {
	color: #fff;
	font-size: 52.52px;
	line-height: 95px;
	font-weight: 400;
	text-align: center;
	margin: 0 0 40px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
.heading.heading-icon {
	display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
	padding-bottom: 55px;
	padding-top: 55px;
}
.practice-area .inner{
	border:1px solid #999999;
	text-align:center;
	margin-bottom:28px;
	padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	border: 0;
}
.practice-area .inner h3{
	color:#3c3c3c;
	font-size:24px;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{
	font-size:14px;
	line-height:22px;
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}


.our-webcoderskull{
	background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;

}
.our-webcoderskull .cnt-block{
	float:left;
	width:100%;
	background:#fff;
	padding:30px 20px;
	text-align:center;
	border:2px solid #d5d5d5;
	margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
	width:148px;
	height:148px;
	border-radius:100%;
	display:inline-block;
	margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{
	width:148px;
	height:148px;
	border-radius:100%;
}
.our-webcoderskull .cnt-block h3{
	color:#2a2a2a;
	font-size:20px;
	font-weight:500;
	padding:6px 0;
	text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
	text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{
	color:#2a2a2a;
	font-size:13px;
	line-height:20px;
	font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
	display:inline-block;
	width:auto;
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
	font-size:24px;
	color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{
	color:#025a8e;
}

  